p{
    font-family: arial;
    font-weight: bold;
}
h1{
    font-style: italic;
    color: maroon;    
    font-family: Georgia;
    background-color: lightskyblue;
}
h2{
    color: royalblue;
    font-family: Georgia;
}
ol{
    font-size: 20px;
    color: teal;    
    font-family: cursive;
}
div{
    text-align: center;
}
.contacts{
    font-size: 28px;
    font-family: arial;
    font-weight: bold;    
    background-color: rgb(93, 221, 215);
}
.first-article{
    background-color: moccasin;
    font-family: monospace;
}
#first-paragraph{
    color:magenta}
#links{
    background-color: rgb(187, 240, 189);
    font-size: 24px;
    border-bottom-width: 30px;
    border-style: solid;
}
.pagelinks{
    background: linear-gradient(90deg,rgba(45, 156, 219, .6),rgba(155, 81, 224, .6));
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);

}
